.dropdown-wrapper {
  position: relative;
  z-index: 10;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 0 5px;
  cursor: pointer;
}

.dropdown-header-title {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  font-size: 0.75rem;
  color: #616161;
}

.dropdown-header-icon {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

.dropdown-list {
  position: absolute;
  flex-wrap: wrap;
  top: 55px;
  left: 0;
  list-style: none;
  font-size: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 7.5px;
  background-color: #ffffff;
  padding: 10px;
}

.type {
  display: flex;
  width: 100%;
}

.sort {
  display: flex;
}

.generation {
  display: flex;
  width: 170px;
}

.dropdown-list-item {
  padding: 10px;
  width: 100%;
}

.dropdown-list-item-sort {
  padding: 5px;
  width: 100px;
}

.dropdown-list-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.dropdown-item-icon {
  display: flex;
  align-items: center;
}

.dropdown-item-name {
  margin-left: 15px;
  font-size: 0.85rem;
  color: #616161;
  text-align: left;
}

.dropdown-header {
  display: flex;
  font-size: 1rem;
}

.checked {
  color: var(--primary-color);
}

.unchecked {
  color: #e0e0e0;
}
